.aboutme {
  margin: auto;
  padding: 50px;
}
.aboutme .photos {
  width: 600px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px 3px #aaa;
  transform: scale(1);
  transition: 0.5s;
}
.aboutme .photos:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px 5px #aaa;
  transition: 0.5s;
}
.aboutme  h1 {
  position: absolute;
  top: 120px;
  right: 170px;
  font-size: 32px;
}
.aboutme-article {
  width: 40%;
  height: 200px;
  margin-left: 40px;
}
.aboutme-article ul {
  text-align: justify;
  list-style: none;
  line-height: 2.5;
  font-weight: 500;
}
.first-content{
  margin-top: -10px;
}
.first-content strong{
  color: #333;
}
.first-content strong a{
  color:#333 ;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}
.first-content strong a:hover{
  color: #e33;
  font-size: 20px;
  transition: 0.3s;
}
.second-content{
  font-size: 18px;
  padding-top: 20px;
  font-weight: 600;
  font-family: "標楷體";
  text-align: center;
  color: #333;
  transition: 0.5s;
}
.second-content:hover{
  padding-top: 18px;
  font-size: 22px;
  color: rgb(22, 82, 155);
  font-weight: 700;
  letter-spacing: 3px;
  transition: 0.5s;
}
.aboutme-motto{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 40px;
  padding: 20px;
  font-weight: 500;
  border-right: 2px solid #333;
  border-left: 2px solid #333;
  transform: scale(1);
  transition: 0.5s;
}
.aboutme-motto:hover{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  border-right: 3px solid #333;
  border-left: 3px solid #333;
  transform: scale(1.05);
  transition: 0.5s;
}