.main-header{
  background-color: #ccc;
  height: 50px;
  padding: 10px;
}
.main-header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.main-header .header-container .header-nav {
  display: flex;
  margin: auto;
}
.main-header .header-container .header-nav a {
  text-decoration: none;
  color: #000;
  padding: 5px 1em;
  position: relative;
  transform: translateY(0px);
  transition: 0.3s;
}
.main-header .header-container .header-nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  height: 0;
  border-bottom: 1px solid #000;
  transition: 0.3s;
}
.main-header .header-container .header-nav a:hover {
  transform: translateY(-5px);
}
.main-header .header-container .header-nav a:hover::after {
  left: 0%;
  right: 0%;
}