.main-header{
  background-color:  rgba(200,200,200, 0.8);
  padding: 10px;
  width: 1200px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 0;
}
.main-header .header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-header .header-nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 1em;
  transform: translateY(0px);
  transition: 0.3s;
}
.main-header .header-nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  height: 0;
  border-bottom: 1px solid #333;
  transition: 0.3s;
}
.main-header .header-nav a:hover {
  transform: translateY(-5px);
}
.main-header .header-nav a:hover::after {
  left: 0%;
  right: 0%;
}