.main-header{
  background-color:  #ccc;
  opacity: 0.8;
  padding: 10px;
  width: 1200px;
  height: 50px;
  margin: auto;
  position: fixed;
  border-radius: 10px;
}
.main-header .header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-header .header-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #333;
  padding: 5px 1em;
  transform: translateY(0px);
  transition: 0.3s;
}
.main-header .header-nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  height: 0;
  border-bottom: 1px solid #333;
  transition: 0.3s;
}
.main-header .header-nav a:hover {
  font-weight: 700;
  transform: translateY(-5px);
}
.main-header .header-nav a:hover::after {
  left: 0%;
  right: 0%;
}